*.db
*.log
.idea/
*.log
*.iml
*.ipr
*.iws
.classpath
*.swp
.settings
.project
.idea/*
.settings/*
target/*
web-app/plugins/*
target/
target-eclipse/
ctrlusu/install
ctrlusu/lib
ctrlusu/resources
ctrlusu/war
ctrlusu/*.war
bin/
out/
web-app/WEB-INF/classes
web-app/WEB-INF/uploadImagens
web-app/plugins
\"/
/CodeNarcReport.html
{}
/grails-*.zip
classes/
/"C:\\jboss-eap-4.3\\jboss-as\\server\\default\\log\\stacktrace.log.1"
/{}.*
activemq-data/*
cobertura.ser
web-app/.grunt
web-app/dist
web-app/node_modules
web-app/js/spec/spec_runner.html
obrigacoes.war
plugins/*
